
  <app-chat-room *ngIf="showScreen" [currentUser]="currentUser" [selectedUser]="selectedUser" [userList]="userList" [mockUserList]="mockUserList"></app-chat-room>
  <ng-template #popup let-d="dismiss">
  
    <div class="modal-header">
      <h4 class="modal-title">Login</h4>
    </div>
  
    <div class="modal-body">
  
      <div class="row">
        <div class="col-md-12">
  
          <div class="form-group">
            <input type="text"
                   placeholder="Enter your phone number"
                   class="form-control"
                   [(ngModel)]="phone"
                   (keypress)="$event.keyCode === 13 && login(d) || phoneValidation($event)"
            />
          </div>
  
        </div>
      </div>
  
    </div>
  
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary" (click)="login(d)">Login</button>
    </div>
  
  </ng-template>
  <ng-template #userNotFound let-r="dismiss">
  
    <div class="modal-header">
      <h4 class="modal-title">Entered Mobile Number is not registered</h4>
    </div>
  
    <div class="modal-body">
  
      <div class="row">
        <div class="col-md-12">
  
          <div class="form-group">
            Look like you don't have an account please register
          </div>
  
        </div>
      </div>
  
    </div>
  
    <div class="modal-footer blahblah">
      <a routerLink="/register" (click)="r()">Click Here To Register</a>
    </div>
  
  </ng-template>