<div class="container-fluid">

  <div class="chat-row">

    <div class="chat-col-1">
      <div *ngIf="currentUser" class="currentUser">
        <!-- <img class="avatar" src='{{currentUser.image}}' /> -->
        <p>{{currentUser.name}}</p>
      </div>
      <div class="searchBar">
        <input type="text" class="searchField" (input)="searchUser($event)" />
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </div>
      <div class="user-list-card">
        <div class="user-card" [ngClass]="user?.phone === selectedUser?.phone ? 'active' :''"
          *ngFor="let user of mockUserList" (click)="selectUserHandler(user?.phone)">

          <!-- <img src="{{user.image}}" [alt]="user?.name" class="avatar" /> -->
          <span class="username">{{user?.name}}</span>

        </div>
      </div>

    </div>
    <div class="chat-content">

      <div class="chat-container">
        <ng-container *ngIf="selectedUser">
          <div class="chat-header">
            <div class="d-flex">
            <!-- <img src="{{selectedUser.image}}" [alt]="selectedUser?.name" class="avatar" /> -->
            <p class="username">{{selectedUser?.name}}</p>
            </div>

            <div class="iconActivity">
              <i class="bi bi-camera-video-fill"></i>
              <i class="bi bi-telephone-fill"></i>
              <i class="bi bi-three-dots-vertical"></i>
            </div>

          </div>

          <div class="chat-body">
            <div class="chat-scroll">
              <div *ngFor="let item of messageArray" [ngClass]="item?.user === currentUser?.name ? 'same-user':'diff-user'">
                <div class="message">
                  <p class="message-container">{{item?.message}}</p>
                </div>
               </div>
            </div>
          </div>

          <div class="chat-footer" *ngIf="selectedUser">

            <div class="row justify-content-around">
              <div class="col-md-8">
                <div class="form-group mb-0">
                  <input type="text" placeholder="Type a message" class="form-control" [(ngModel)]="messageText"
                    (keyup)="$event.keyCode === 13 && sendMessage()" />
                </div>
              </div>
              <div class="col-md-1 d-flex mine">
                <i class="bi bi-mic"></i>
                <i class="bi bi-camera"></i>
                <i class="bi bi-file-image"></i>
              </div>
              <div class="col-md-2 text-center align-self-center">
                <button class="btn btn-primary btn-sm px-3" (click)="sendMessage()">Send
                </button>
              </div>
            </div>

          </div>
        </ng-container>
      </div>
      <div class="welcome-msg" *ngIf="!selectedUser">
        <div class="welcome-chat">
          <h2>Hi , {{currentUser.name}} Welcome to ChatApp</h2>
          <div class="arrow">
            <div class="arrow-left"></div>
            <div class="arrow-cross"></div>
          </div>
        </div>
        <!-- <img class="pic" src="{{currentUser.image}}" /> -->
      </div>

    </div>

  </div>

</div>