.same-user {
    text-align: end;
    margin-right: 200px;
}

.modal-footer.blahblah {
    justify-content: start;
}

.avatar {
    border-radius: 63%;
    height: 96px;
    width: 24%;
}

.searchBar {
    width: 100%;
    border-radius: 33px;
    border: 1px solid lightgray;
}

.welcome-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 32px;
    //     background-image: url('./../../../assets/user/app1.jfif');
    //     background-repeat: no-repeat;
}

.pic {
    width: 57%;
}

.welcome-chat {
    border: 2px solid indigo;
    border-radius: 10px;
    position: relative;

    .arrow {
        position: absolute;

        .arrow-left {
            height: 16px;
            width: 11px;
            border-left: 2px solid indigo;
            background: #fff;
            position: absolute;
            left: 26px;
        }

        .arrow-cross {
            height: 18px;
            width: 11px;
            border-right: 2px solid indigo;
            position: absolute;
            left: 23px;
            rotate: 35deg;
            bottom: -14px;
        }
    }
}